<footer>
    <div class="info">
        <div class="redes">
            <h2>Seguínos en nuestras redes sociales!</h2>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-instagram"></i>
        </div>
        <div class="horarios">
            <b><h3>Horarios de Atención</h3></b>
            <h4>Lunes  8:00am - 5:00pm</h4>
            <h4>Martes  8:00am - 5:00pm</h4>
            <h4>Miercoles  8:00am - 5:00pm</h4>
            <h4>Jueves 8:00am - 5:00pm</h4>
            <h4>Viernes  8:00am - 5:00pm</h4>
            <h4>Sábado  8:00am - 12:00md</h4>
        </div>
    </div>
    <div class="derechos">
        (C) Artes Serigraficas El Salvador || Todos los Derechos Reservados 2020
    </div>
</footer>